# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Pierre CHEMIN\Google Drive\Licence Info\L1\Semestre 2\INFO 0202\Projet\FX\Chess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
